table{
    width: 100%;
    margin-bottom: 20px;
    border: 2px solid #000000;
    background-color: transparent;
    border-collapse: collapse;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

th {
    background-color: #d9d9d9;
    border: 2px solid #474747;
    font-size: 13px;
    vertical-align: bottom;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border: 1px solid black;
    /* border-color: inherit; */
}

td {
    background-color: #dbdbdb;
    padding: 8px;
    line-height: 20px;
    text-align: center;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}