<h2>Western Univeristy Courses </h2>

<div *ngFor="let course of courses">
    <h3>{{course.subject}} {{course.catalog_nbr}} - {{course.className}}</h3>
    <p><b>Description:</b>{{course.catalog_description}}</p>

    <table>
        <thead >
            <tr >
                <th>Section</th>
                <th>Component</th>
                <th>Class Number</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Location</th>
                <th>Requisites and Constraints</th>
                <th>Status</th>
                <th>Campus</th>
            </tr>
        </thead>
        <tbody >
            <tr >
                <td>{{course.course_info[0].class_section}}</td>
                <td>{{course.course_info[0].ssr_component}}</td>
                <td>{{course.course_info[0].class_nbr}}</td>
                <td>{{course.course_info[0].start_time}}</td>
                <td>{{course.course_info[0].end_time}}</td>
                <td>{{course.course_info[0].facility_ID}}</td>
                <td>{{course.course_info[0].descr}}</td>
                <td>{{course.course_info[0].enrl_stat}}</td>
                <td>{{course.course_info[0].campus}}</td>
            </tr>
        </tbody>
    </table>


</div>

